---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace | default("default") }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: noip-duc
  namespace: {{ namespace | default("default") }}
spec:
  replicas: {{ replicas | default(1) }}
  selector:
    matchLabels:
      app: noip-duc
  template:
    metadata:
      labels:
        app: noip-duc
    spec:
      containers:
      - name: noip-duc
        image: mbroen/noip-duc
        env:
        - name: USERNAME
          value: "{% if noip_group is defined %}{{ noip_group }}:{% endif %}{{ noip_username }}"
        - name: PASSWORD
          value: "{{ noip_password }}"
        - name: INTERVAL
          value: "{{ noip_interval | default(30) }}"
