---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace | default("default") }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ namespace | default("default") }}
spec:
  replicas: {{ replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ app }}
  template:
    metadata:
      labels:
        app: {{ app }}
    spec:
      containers:
      - name: {{ container_name }}
        image: {{ image }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace | default("default") }}
spec:
  ports:
  - name: http
    targetPort: 80
    port: 80
  selector:
    app: {{ app }}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ ingress_name }}
  namespace: {{ namespace | default("default") }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: {% if subdomain | length %}{{ subdomain }}.{% endif %}{{ domain }}
    http:
      paths:
      - path: {{ path_prefix | default('/') }}
        backend:
          serviceName: {{ service_name }}
          servicePort: http
