---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
spec:
  selector:
    k8s-app: traefik-ingress-lb
  ports:
  - name: web
    port: 80
    targetPort: 8080
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
spec:
  rules:
  - host: {{ subdomain }}.{{ domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ service_name }}
          servicePort: web
